body {
  background-color: #000;
  background-image: url("/images/terminator.jpg");
  background-repeat: repeat;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid #d62068;
  margin-bottom: 2rem;
  color: #fff;
  padding: 10px;
}

.navbar__logo {
  justify-self: start;
}

.logo {
  max-width: 250px;
}

.navbar__menu {
  justify-self: center;
}

.navbar__login {
  justify-self: end;
}

.dash {
  background-color: #d62068 !important;
}

.card {
  background-color: #051934;
  border: 1px solid #d62068;
  color: white;
  margin: 0 auto;
  padding: 2rem;
}

.form-card {
  max-width: 500px;
}

.content-card {
  max-width: 1000px;
}

.u-text-align-center {
  text-align: center;
}

.u-mb2 {
  margin-bottom: 2rem;
}

.ant-btn.ant-btn-primary {
  background-color: #d62068;
  border-color: #d62068;
}

.ant-btn.ant-btn-primary:hover {
  background-color: black;
  border-color: #d62068;
}

.ant-btn.ant-btn-ghost {
  background-color: #d62068;
  border-color: #d62068;
}

.ant-btn.ant-btn-ghost:hover {
  background-color: black;
  border-color: #d62068;
  color: white;
}

a {
  color: #d62068;
}
